menu "Kaleao KMAX"

config KMAX_LPC
bool "Shut down unused Exynos units on KMAX"
depends on ARCH_EXYNOS && ARM64
help
  On KMAX we only use the PCIE and the MMC blocks,
  all other blocks related to sound/video etc processing
  are just a waste of power. So by enabling this setting
  all unused units get shut down on bootup.

source "Kaleao/mach-exynos/Kconfig"

endmenu
